body {
    font-family: 'Public Sans', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fcfffc;
}

.custom-navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}