body {
    font-family: 'Public Sans', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fcfffc;

    background-image: url("assets/flag.svg");
}

.secondary-color {
    color: #da251c;
}

/* Maintenance Page Styles */
.maintenance-card {
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
    border: 4px solid #c04d40; /* originally #da251c */
    backdrop-filter: blur(10px);
    border-radius: 12px;
}

.maintenance-card .fa-hourglass {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.social-link {
    color: #6c757d;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #da251c;
}