<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h5 class="mb-3">House of Vietnam</h5>
                <p>Empowering the Vietnamese community through cultural preservation, education, and social services.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <h5 class="mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">About Us</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Events</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Volunteer</a></li>
                    <li class="mb-2"><a href="#" class="text-white-50 text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-4 mb-4">
                <h5 class="mb-3">Contact Info</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <i class="fa-solid fa-location-dot me-2"></i>
                        2191 W Pan American Road, San Diego, CA 92101
                    </li>
                    <li class="mb-2">
                        <i class="fa-solid fa-phone me-2"></i>
                        (555) 555-5555
                    </li>
                    <li class="mb-2">
                        <i class="fa-solid fa-envelope me-2"></i>
                        info@houseofvietnam.org
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-4 bg-white">
        <div class="text-center">
            <p class="mb-0">&copy; 2025-<span id="spanYear"></span> House of Vietnam. All rights reserved.</p>
        </div>
    </div>
</footer>
